/* Common styling */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}


/* header section styling */

.header {
    height: 500px;
    width: 100%;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 80px;
}

.text-position {
    position: absolute;
    top: 150px;
    left: 250px;
    text-align: center;
    color: white;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 50;
}

a {
    text-decoration: none;
    background-color: #FF5959;
    border: 2px solid #FF5959;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


/* Donate Today section */

.donate-today {
    text-align: center;
    margin-bottom: 80px;
}

.amount-option {
    display: flex;
}

.amount-option div {
    font-weight: 700;
    width: 100px;
    height: 100px;
    padding: 30px 10px;
    margin-right: 10px;
}

#hundred-taka {
    margin-left: 200px;
}

#selected-amount {
    background-color: #e3b4b4;
    border: 2px solid #d04f4f;
    color: #d04f4f;
}

input {
    display: inline-block;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}


/* Donate Plan section */

.service {
    display: flex;
}

.food {
    width: 200px;
    height: 200px;
    margin-left: 200px;
    margin-right: 20px;
    background-color: #EDF5F6;
}

.shelter {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: #FFEEEE;
}

.education {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: #FFF4D6;
}

.service img {
    width: 25%;
    text-align: left;
}


/* Get Update section */

.design-form {
    width: 600px;
    height: 100px;
    padding: 50px;
    margin-left: 200px;
    background-color: #FFF4D6;
}

button {
    background-color: #FF5959;
    color: white;
    border: 1px solid #FF5959;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    width: 100%;
    height: 150px;
    color: white;
    background-color: black;
    margin-bottom: 0;
}