/* Common styling */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}


/* header section styling */

.header {
    height: 500px;
    width: 100%;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 80px;
}

.text-position {
    text-align: center;
    color: white;
    padding-top: 200px;
    margin: auto;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 50;
}

a {
    text-decoration: none;
    background-color: #FF5959;
    border: 2px solid #FF5959;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


/* Donate Today section */

.center {
    text-align: center;
    margin-bottom: 80px;
}

.amount-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-option div {
    font-weight: 700;
    width: 100px;
    height: 100px;
    padding: 30px 10px;
    margin-right: 10px;
}

#selected-amount {
    background-color: #e3b4b4;
    border: 2px solid #d04f4f;
    color: #d04f4f;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid gray;
}


/* Donate Plan section */

.service {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.bgc1 {
    background-color: #EDF5F6;
}

.bgc2 {
    background-color: #FFEEEE;
}

.bgc3 {
    background-color: #FFF4D6;
}

.item img {
    width: 25%;
    pos
}


/* join us section */

.join {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join img {
    width: 50%;
}

.item2 {
    margin-left: 100px;
    ;
}


/* Get Update section */

.design-form {
    width: 50%;
    height: 100px;
    padding: 40px;
    margin: 0 auto;
    background-color: #FFF4D6;
}

button {
    background-color: #FF5959;
    color: white;
    border: 1px solid #FF5959;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type=email] {
    border: none;
}


/* footer section */

.footer {
    width: 100%;
    height: 150px;
    color: white;
    background-color: black;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}

.humble {
    color: #FF5959;
}